body {
  background-color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  font-family: "Lato", sans-serif;
  color: ivory;
  font-size: 1.3rem;
}

h1 {
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  margin: 40px 0 15px;
  color: rgb(250, 250, 219);
}

.container {
  display: flex;
  justify-content: center;
}
.player1 {
  display: inline;
  padding-right: 140px;
}
.player2 {
  display: inline;
  padding-left: 140px;
}

img {
  padding: 0 5%;
}
/* button*/
.btn {
  padding-top: 2%;
}
.press {
  color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #333333;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Dancing Script", cursive;
  border: 1px solid rgb(100, 97, 97);
  outline-style: none;
  box-shadow: 0 0 4px grey;
}

.press:active {
  transform: scale(0.95);
}

footer {
  padding: 50px 0 0 0;
}

footer p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
span {
  color: red;
}
/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    margin: 20% 0 10%;
    color: ivory;
  }

  p {
    padding: 0 20px;
    font-family: "Lato", sans-serif;
    color: ivory;
    font-size: 0.8rem;
  }
  .container {
    padding-bottom: 0px;
  }

  .player1 {
    display: inline;
    padding: 0 8% 0 5%;
  }
  .player2 {
    display: inline;
    padding: 0 5% 0 8%;
  }

  img {
    display: inline-block;
    padding: 0 10px;
    width: 30%;
  }
  footer {
    padding: 10% 0 0 0;
    margin-top: 0px;
  }
  .btn {
    padding-top: 20px;
  }
}
